{% extends 'portfolio/layout.html' %}
{% load static %}
{% block content %}
    <div id="hero">
        <div class="hero-content">
            <h1>Full-Stack Developer & Creative Problem Solver</h1>
            <p>Transforming Ideas into Seamless Digital Experiences</p>
            <button href="" onclick="scrollToSection('contact-section')" class="btn">Contact Me</button>
        </div>
    </div>
    <div id="about">
        <div class="about-container">
            <div class="big-card">
                <b><p>
                    My name is Francisco Sousa and I am a computer engineering student in ULHT.
                    I run a skate school where I teach every day and I also have a clothing brand.
                    It's been a dream of mine to merge Skateboarding and Programming together, so far its going pretty well!
                    I developed an app for my school where the students have full control over their skate classes, they can buy the packs and skatecamps, schedule their classes and get notifications.
                    I spent 4 years in civil engineering at Nova SST until I finally decided to switch courses, came to our college, and developed a passion for programming. It was one of the best decisions I ever made!
                </p></b>
            </div>
            <div class="small-card">
                <img src="/media/me.png" alt="My image">
            </div>
        </div>
    </div>
    <div id="projects-and-technologies">
        <div class="projects-section">
            <h2>Projects</h2>
            <div class="projects-table-wrapper">
                <div class="projects-table">
                    <a href="https://a22301231.pythonanywhere.com/bandas">
                        <div class="project-card">
                            <img src="/media/bandas.png" alt="Project 2">
                            <h3>Bands</h3>
                            <p>A Jukebox like database where you can manage the bands, albums and music.</p>
                        </div>
                    </a>
                    <a href="https://a22301231.pythonanywhere.com/artigos">
                        <div class="project-card">
                            <img src="/media/artigos.png" alt="Project 2">
                            <h3>Articles</h3>
                            <p>An online journal public to everyone, check out the articles and add your likes and comments.</p>
                        </div>
                    </a>
                    <a href="https://www.wecanskateschool.com/packs">
                        <div class="project-card">
                            <img src="/media/skateschool.png" alt="Project 1">
                            <h3>We Can Skate School</h3>
                            <p>A platform for aquiring, managing and schedule of Skate Lessons and Skate Camps, my own skate school.</p>
                        </div>
                    </a>
                    <a href="https://a22301231.pythonanywhere.com/meteo">
                        <div class="project-card">
                            <img src="/media/meteo.png" alt="Project 2">
                            <h3>Meteorology</h3>
                            <p>Check the weather for all of the portuguese discricts, images update in real time and it has a day and night cycle.</p>
                        </div>
                    </a>
                    <a href="https://a22301231.pythonanywhere.com/curso">
                        <div class="project-card">
                            <img src="/media/curso.png" alt="Project 2">
                            <h3>Course</h3>
                            <p>A college course directory where all of the subjects and projects are present.</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="technologies-section">
            <h2>Technologies Used</h2>
            <div class="technologies-wrapper">
                <ul class="technologies-list">
                    <li>
                        <a href="https://en.wikipedia.org/wiki/HTML" target="_blank">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HTML5_logo_and_wordmark.svg/240px-HTML5_logo_and_wordmark.svg.png" alt="HTML">
                            <span class="tech-name">HTML</span>
                            <span class="tech-description">Markup Language</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://en.wikipedia.org/wiki/CSS" target="_blank">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/CSS3_logo_and_wordmark.svg/240px-CSS3_logo_and_wordmark.svg.png" alt="CSS">
                            <span class="tech-name">CSS</span>
                            <span class="tech-description">Style Sheet Language</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://en.wikipedia.org/wiki/JavaScript" target="_blank">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Unofficial_JavaScript_logo_2.svg/240px-Unofficial_JavaScript_logo_2.svg.png" alt="JavaScript">
                            <span class="tech-name">JavaScript</span>
                            <span class="tech-description">Programming Language</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://en.wikipedia.org/wiki/Python_(programming_language)" target="_blank">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Python-logo-notext.svg/240px-Python-logo-notext.svg.png" alt="Python">
                            <span class="tech-name">Python</span>
                            <span class="tech-description">Programming Language</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://en.wikipedia.org/wiki/Django_(web_framework)" target="_blank">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/75/Django_logo.svg/240px-Django_logo.svg.png" alt="Django">
                            <span class="tech-name">Django</span>
                            <span class="tech-description">Web Framework</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://en.wikipedia.org/wiki/SQL" target="_blank">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/87/Sql_data_base_with_logo.png/240px-Sql_data_base_with_logo.png" alt="SQL">
                            <span class="tech-name">SQL</span>
                            <span class="tech-description">Database Language</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://en.wikipedia.org/wiki/Java_(programming_language)" target="_blank">
                            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/3/30/Java_programming_language_logo.svg/220px-Java_programming_language_logo.svg.png" alt="Java">
                            <span class="tech-name">Java</span>
                            <span class="tech-description">Programming Language</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://en.wikipedia.org/wiki/C_(programming_language)" target="_blank">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/3/35/The_C_Programming_Language_logo.svg" alt="C">
                            <span class="tech-name">C</span>
                            <span class="tech-description">Programming Language</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://en.wikipedia.org/wiki/C_Sharp_(programming_language)" target="_blank">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/4/4f/Csharp_Logo.png" alt="C#">
                            <span class="tech-name">C#</span>
                            <span class="tech-description">Programming Language</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://en.wikipedia.org/wiki/C%2B%2B" target="_blank">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/1/18/ISO_C%2B%2B_Logo.svg" alt="C++">
                            <span class="tech-name">C++</span>
                            <span class="tech-description">Programming Language</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://en.wikipedia.org/wiki/Bash_(Unix_shell)" target="_blank">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4b/Bash_Logo_Colored.svg/1200px-Bash_Logo_Colored.svg.png" alt="Bash">
                            <span class="tech-name">Bash</span>
                            <span class="tech-description">Unix Shell</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://en.wikipedia.org/wiki/Bootstrap_(front-end_framework)" target="_blank">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Bootstrap_logo.svg/240px-Bootstrap_logo.svg.png" alt="Bootstrap">
                            <span class="tech-name">Bootstrap</span>
                            <span class="tech-description">CSS Framework</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://en.wikipedia.org/wiki/Git" target="_blank">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e0/Git-logo.svg/240px-Git-logo.svg.png" alt="Git">
                            <span class="tech-name">Git</span>
                            <span class="tech-description">Version Control</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://en.wikipedia.org/wiki/OAuth" target="_blank">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d2/Oauth_logo.svg/240px-Oauth_logo.svg.png" alt="OAuth">
                            <span class="tech-name">OAuth</span>
                            <span class="tech-description">Authorization Protocol</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="offerings">
        <div class="offerings-wrapper">
            <h2>What I Have to Offer</h2>
            <div class="offerings-table-wrapper">
                <div class="offerings-table">
                    <div class="offering-card" onclick="toggleDescription(this)">
                        <img src="https://cdn.pixabay.com/photo/2015/05/28/14/53/ux-788002_1280.jpg" alt="Mobile First Design">
                        <h4>Mobile First Design</h4>
                        <p class="description">Creating designs that prioritize mobile experiences, ensuring responsiveness across all devices.</p>
                        <img src="https://cdn-icons-png.flaticon.com/512/9679/9679485.png" class="corner-icon" alt="Icon">
                    </div>
                    <div class="offering-card" onclick="toggleDescription(this)">
                        <img src="https://cdn.pixabay.com/photo/2017/07/03/15/20/technology-2468062_1280.jpg" alt="Fully Responsive">
                        <h4>Fully Responsive</h4>
                        <p class="description">Developing websites that look great and function perfectly on any screen size.</p>
                        <img src="https://cdn-icons-png.flaticon.com/512/9679/9679485.png" class="corner-icon" alt="Icon">
                    </div>
                    <div class="offering-card" onclick="toggleDescription(this)">
                        <img src="https://cdn.pixabay.com/photo/2015/12/09/15/51/code-1084923_1280.png" alt="Automation">
                        <h4>Automation</h4>
                        <p class="description">Implementing automation solutions to streamline processes and improve efficiency.</p>
                        <img src="https://cdn-icons-png.flaticon.com/512/9679/9679485.png" class="corner-icon" alt="Icon">
                    </div>
                    <div class="offering-card" onclick="toggleDescription(this)">
                        <img src="https://www.hp.com/us-en/shop/app/assets/images/uploads/prod/what%20is%20an%20api167511875313774.jpg" alt="API Integration">
                        <h4>API Integration</h4>
                        <p class="description">Connecting your applications with external services through API integration.</p>
                        <img src="https://cdn-icons-png.flaticon.com/512/9679/9679485.png" class="corner-icon" alt="Icon">
                    </div>
                    <div class="offering-card" onclick="toggleDescription(this)">
                        <img src="https://www.xavor.com/wp-content/uploads/2023/08/Custom-Web-Development-101.webp" alt="Custom Web Development">
                        <h4>Custom Web Development</h4>
                        <p class="description">Building tailored web solutions to meet your unique business requirements.</p>
                        <img src="https://cdn-icons-png.flaticon.com/512/9679/9679485.png" class="corner-icon" alt="Icon">
                    </div>
                    <div class="offering-card" onclick="toggleDescription(this)">
                        <img src="https://assets-160c6.kxcdn.com/wp-content/uploads/2022/08/2022-08-16-de-en.jpg" alt="E-commerce Solutions">
                        <h4>E-commerce Solutions</h4>
                        <p class="description">Creating robust and scalable e-commerce platforms to enhance your online business.</p>
                        <img src="https://cdn-icons-png.flaticon.com/512/9679/9679485.png" class="corner-icon" alt="Icon">
                    </div>
                    <div class="offering-card" onclick="toggleDescription(this)">
                        <img src="https://testsigma.com/blog/wp-content/uploads/Testing-Vs-Debugging-The-Differences-You-Need-to-Know.jpg" alt="Testing and Debugging">
                        <h4>Testing and Debugging</h4>
                        <p class="description">Ensuring the reliability and performance of your applications through thorough testing and debugging.</p>
                        <img src="https://cdn-icons-png.flaticon.com/512/9679/9679485.png" class="corner-icon" alt="Icon">
                    </div>
                    <div class="offering-card" onclick="toggleDescription(this)">
                        <img src="https://softtech.com/wp-content/uploads/2020/09/UX-vs-UI-Design-1024x819.jpg" alt="UI/UX Design">
                        <h4>UI/UX Design</h4>
                        <p class="description">Crafting intuitive and engaging user interfaces and experiences.</p>
                        <img src="https://cdn-icons-png.flaticon.com/512/9679/9679485.png" class="corner-icon" alt="Icon">
                    </div>
                    <div class="offering-card" onclick="toggleDescription(this)">
                        <img src="https://audiologydesign.com/wp-content/uploads/2023/03/3.27.23-SEO_jargon.png" alt="SEO Optimization">
                        <h4>SEO Optimization</h4>
                        <p class="description">Improving your website's visibility and ranking on search engines.</p>
                        <img src="https://cdn-icons-png.flaticon.com/512/9679/9679485.png" class="corner-icon" alt="Icon">
                    </div>
                    <div class="offering-card" onclick="toggleDescription(this)">
                        <img src="https://media.licdn.com/dms/image/D4D12AQEEg2NfsILUiQ/article-cover_image-shrink_720_1280/0/1675091252902?e=2147483647&v=beta&t=BUZ7ccn0z7Zcf7Fu_3DtNVvDJhq3BdyRbvQI5kejuiM" alt="Performance Optimization">
                        <h4>Performance Optimization</h4>
                        <p class="description">Enhancing the speed and efficiency of your web applications.</p>
                        <img src="https://cdn-icons-png.flaticon.com/512/9679/9679485.png" class="corner-icon" alt="Icon">
                    </div>
                    <div class="offering-card" onclick="toggleDescription(this)">
                        <img src="https://i0.wp.com/www.admecindia.co.in/wp-content/uploads/2019/05/admec-internal-blog-html-tools-tips-1.jpg?fit=2000%2C1112&ssl=1" alt="Cross-Browser Compatibility">
                        <h4>Cross-Browser Compatibility</h4>
                        <p class="description">Ensuring your website functions seamlessly across all major browsers.</p>
                        <img src="https://cdn-icons-png.flaticon.com/512/9679/9679485.png" class="corner-icon" alt="Icon">
                    </div>
                    <div class="offering-card" onclick="toggleDescription(this)">
                        <img src="https://flyuptechnology.com/wp-content/uploads/2022/12/content-management-system-2.png" alt="Content Management Systems">
                        <h4>Content Management Systems</h4>
                        <p class="description">Implementing CMS solutions to manage and publish your content effortlessly.</p>
                        <img src="https://cdn-icons-png.flaticon.com/512/9679/9679485.png" class="corner-icon" alt="Icon">
                    </div>
                    <div class="offering-card" onclick="toggleDescription(this)">
                        <img src="https://semaphoreci.com/wp-content/uploads/2020/02/cic-cd-explained.jpg" alt="Continuous Integration and Deployment">
                        <h4>Continuous Integration and Deployment</h4>
                        <p class="description">Automating your development workflow with CI/CD pipelines.</p>
                        <img src="https://cdn-icons-png.flaticon.com/512/9679/9679485.png" class="corner-icon" alt="Icon">
                    </div>
                    <div class="offering-card" onclick="toggleDescription(this)">
                        <img src="https://m.media-amazon.com/images/G/01/AdProductsWebsite/images/refreshCreative/AmazonDSP/DSP-01._TTW_.png" alt="Ads Management">
                        <h4>Ads Management</h4>
                        <p class="description">Managing and optimizing your online advertising campaigns.</p>
                        <img src="https://cdn-icons-png.flaticon.com/512/9679/9679485.png" class="corner-icon" alt="Icon">
                    </div>
                    <div class="offering-card" onclick="toggleDescription(this)">
                        <img src="https://media.licdn.com/dms/image/D5612AQEX_y0vbqXSZw/article-cover_image-shrink_720_1280/0/1697313477147?e=2147483647&v=beta&t=ZJPCRneXQba0VRphYLI4m-fpBo7ijkbVwZu03LVcgMM" alt="Database Solutions">
                        <h4>Database Solutions</h4>
                        <p class="description">Designing and managing robust database systems.</p>
                        <img src="https://cdn-icons-png.flaticon.com/512/9679/9679485.png" class="corner-icon" alt="Icon">
                    </div>
                    <div class="offering-card" onclick="toggleDescription(this)">
                        <img src="https://cdn.logojoy.com/wp-content/uploads/20231122153748/what-is-graphic-design-header.jpg" alt="Graphic Design">
                        <h4>Graphic Design</h4>
                        <p class="description">Creating visually appealing designs for your brand and marketing materials.</p>
                        <img src="https://cdn-icons-png.flaticon.com/512/9679/9679485.png" class="corner-icon" alt="Icon">
                    </div>
                    <div class="offering-card" onclick="toggleDescription(this)">
                        <img src="https://www.evolvecamps.com/wp-content/uploads/2020/10/evolvecamps-programs-skateboarding-camps1.jpg" alt="Skate Classes">
                        <h4>Skate Classes</h4>
                        <p class="description">Offering professional skateboarding lessons for all skill levels.</p>
                        <img src="https://cdn-icons-png.flaticon.com/512/9679/9679485.png" class="corner-icon" alt="Icon">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="contact-section">
        <div class="contact-wrapper">
            <h2>Lets get in touch</h2>
            <a href="https://www.instagram.com/frxncisco_sousa" class="contact-button instagram-btn" target="_blank">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://wa.me/939021876" class="contact-button whatsapp-btn" target="_blank">
                <i class="fab fa-whatsapp"></i>
            </a>
            <a href="mailto:franciscobarrososousa@gmail.com" class="contact-button email-btn">
                <i class="fas fa-envelope"></i>
            </a>
        </div>
    </div>

    <script>

        function scrollToSection(id) {
            document.getElementById(id).scrollIntoView({ behavior: 'smooth' });
        }

        function toggleDescription(card) {
            const description = card.querySelector('.description');
            const title = card.querySelector('h4');

            if (description.style.display === 'block') {
                description.style.display = 'none';
                title.style.display = 'block';
            } else {
                description.style.display = 'block';
                title.style.display = 'none';
            }
        }

        document.addEventListener('DOMContentLoaded', function() {
            const columnsRange = document.getElementById('columnsRange');
            const gridContainer = document.querySelector('.grid-container');

            columnsRange.addEventListener('input', function() {
                const columns = columnsRange.value;
                gridContainer.style.setProperty('--columns', columns);
                const offeringCards = document.querySelectorAll('.offering-card h4');
                if (columns > 1) {
                    offeringCards.forEach(card => card.classList.add('rotated'));
                } else {
                    offeringCards.forEach(card => card.classList.remove('rotated'));
                }
            });
        });

    </script>
{% endblock %}
