{% extends 'autenticacao/layout.html' %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

{% block content %}


</head>
<body>
	<div class="container h-100">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="d-flex justify-content-center">
					<h3 id="form-title">Password Reset Complete</h3>
				</div>
				<div class="d-flex justify-content-center info">
				    <p>Your password has been set. You may go ahead and log in now.</p>
                    <div class="d-flex justify-content-center links">
						<a href="{% url 'login' %}" class="ml-2">Log In</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

{% endblock %}